// @import "libs/reset";
@import "libs/variables";
@import "libs/mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	width:100%;
	height: 100%;
	background-color: #f5f5f5;
	font-family: 'Nunito', sans-serif;
};

.page {
	width: 100vw;
	min-height: 100vh;
	@include linear-gradient(to top left, rgba($color1, .1), rgba($color2, .1));
}

.navigation {
	width: 100%;
	height: 70px;
	padding: 10px 20px;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	a {
		margin: 0 10px;
	}
}

h1 {
	margin-bottom: 40px;
	font-size: 36px;
	font-weight: 900;
}
label {
	font-weight: 700;
}




