html, body {
	width: 100%;
	min-height: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f0;
}

*,
*::before,
*::after {
	box-sizing:  border-box;
}

.section {
	width:  100%;
	float: left;
	position: relative;
}

.section:nth-child(1),
.section:nth-child(4) {
	height: 100vh;
}

.section:nth-child(2),
.section:nth-child(3) {
	min-height: 100vh;
}

.top {
	background: url('image.jpg');
	background-size: cover;
	background-position: center center;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color:  #222;
}

.top h1 {
	margin:  0;
	padding: 0;
	font-size: 5em;
	color: #000;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.upper-middle > .left,
.upper-middle > .right,
.lower-middle > .left,
.lower-middle > .right {
	width:  50%;
	min-height: 100vh;
	float: left;
	position: relative;
	padding: 30px;
}

.upper-middle > .left > .left-wrapper {
	background-color:  #222;
	position: absolute;
	left:  0;
	top:  0;
	width:  100%;
	height:  100%;
}



.upper-middle > .right,
.lower-middle > .right {
	font-size:  1.5em;
	line-height: 30px;
}

.lower-middle > .left > .left-wrapper {
	position: absolute;
	left:  0;
	top:  0;
	width:  100%;
	height:  100%;
	background-color:  #F7484E;
}

.upper-middle > .left > .left-fixed,
.lower-middle > .left > .left-fixed {
	position:  fixed;
	width: 50%;
}

.bottom {
	background-color:  #fff;
}

